---
layout: archive
title: "CV"
permalink: /cv/
author_profile: true
redirect_from:
  - /resume
---


{% include base_path %}
{% capture written_label %}'None'{% endcapture %}

If the embedded PDF below does not load, you can <u><a href="https://hvak.io/files/Hersh_Vakharia_Resume.pdf">download it here.</a></u>
<br/>

<embed src="https://hvak.io/files/Hersh_Vakharia_Resume.pdf" type="application/pdf" width="100%" />

<h2> Publications</h2>
  <ul>{% for post in site.publications %}
    {% include archive-single-cv.html %}
  {% endfor %}</ul>